<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gurihouses">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.GuriBaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuriHouses"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".splash.ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".propertydetails.PropertyDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chat.bottomchat.ui.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otp.ui.activities.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".termscondition.ui.activities.TermsConditionActivity"
            android:exported="false" />
        <activity
            android:name=".about.ui.activities.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".privacypolicy.ui.activities.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".faq.ui.activities.FaqActivity"
            android:exported="false" />
        <activity
            android:name=".contactus.ui.activities.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".base.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".signup.ui.activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".getotp.ui.activities.EnterNumberActivity"
            android:exported="false" />
        <activity
            android:name=".usertype.ui.activities.ChooseOptionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>